



.checkerboard{
    
    display: grid;
    grid-template-columns: repeat(200, 100px);
width: 50%;
}
.blackTile{

    width: 100px;
    height: 100px;
background-color: black; 


}
.whiteTile{
    width: 100px;
    height: 100px;
background-color: antiquewhite;

}


.startable{

background-color: blue;
padding:15px;
height: 300px;
width:35%;

}

.stars{
    color:white;

}
.space{
    width:25px;
}

.stripestable{

background-color: red;
width: 65%;
margin-left: 35%;

}
.stripe{
height:25px;
    width:100%;
   color:red;

}
/* .space2{

color:white;
height: 25px;

} */

#gamedes{
    display: grid;
grid-template-columns: 4fr /repeat(4);
    margin: auto;
    
     
   }
   
.productBox{
    padding: 40px 80px;
    text-align:start;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    width: 200px;
    background-color: #f6ebf4;}


.productBox p{
        padding:9px 8px 6px 8px;
          line-height:2;
          border-radius: 5px;
          color: black;
          background-color: white;
        
          
        }
        img{

            width:100%;
            height:100%;
          }
          a{

color: white;
background-color: teal;
            padding:15px;
          }